@font-face {
    font-family: 'bebas_neueregular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/BebasNeue-webfont.woff') format('woff'),
    url('fonts/BebasNeue-webfont.ttf') format('truetype'),
    url('fonts/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body { background-color:#E8E8E8;}
.uk-navbar { background-color:#0F0A06; list-style:none; }
.uk-navbar .uk-container { padding:0; }
.uk-navbar .main-nav { margin:0; }
.uk-navbar li { display:inline-block; }
.uk-navbar .uk-navbar-brand { font-size:30px; color:#C0C0C0; line-height:50px; font-family:'bebas_neueregular'; text-shadow:none; }
.uk-navbar .uk-navbar-brand:hover { color:#C04127; }
.uk-navbar a.nav-item { display:block; font-size:20px; font-family:'bebas_neueregular'; color:#C0C0C0; padding:15px 15px; }
.uk-navbar a.nav-item:hover { text-decoration:none; color:#C04127; }

.content { margin-top:20px; }
.content-1,
.content-2,
.content-3,
.content-4 { width:100%; padding:50px 0 60px; }
.content-1 { background-color:#E8E8E8; padding-top:80px; }
.content-2 { background-color:#EDEFF1; }
.content-3 { background-color:#E3E3E3; }
.content-4 { background-color:#F5F5F5; }
.uk-container { padding:0 15px !important; }

.footer { padding:40px 15px 80px !important; }

.statistic { text-align:center; font-family:'bebas_neueregular'; font-size:25px; line-height:25px; }

.highlight-orange { color:#BC712C; }
.highlight-red { color:#C04127; }
.highlight-brick { color:#D95B43; }

h1,
h2,
h3 { text-align:center; font-family:'bebas_neueregular'; }
.uk-h1 { font-size:50px; padding-bottom:10px; }
.uk-button.to-top { float:right; }

/* Map ============================= */
.top-cordinates { cursor:pointer; padding-left:5px; display:inline !important; }
.secondary-menu { background:transparent; position:absolute; left:50%; padding:0 !important; }
.uk-navbar.map-menu { padding:0; border-radius:0 0 4px 4px; background-color:#e8e8e8; }
.secondary-menu .uk-navbar li { display:block; }
.secondary-menu .uk-navbar li li { padding-bottom:5px; }
.secondary-menu .uk-dropdown .uk-nav { margin:0; }
#map-canvas { height:100%; }
#map-canvas img.category { max-height:25px; }
#map-canvas h2 { line-height:22px; margin:0; text-align:left; }
#map-canvas p, #map-canvas a { line-height:10px; }
#map-canvas img { margin-right:10px; }
#map-canvas .loading-gif { margin:0; }
/* ================================= */

/* Tops ============================ */
.top-wrapper .uk-h1 { margin:0; padding:0; font-size:40px; }
/* ================================= */

/* Top words */
.top-words { margin-bottom:20px; display:none; }
.top-words.active { display:block; }
.top-words span.word { line-height:1.2; line-height:1; padding:0 3px; }
.top-words .uk-text-info { display:block; font-size:19px; }
.uk-button.prev { float:left; }
.uk-button.next { float:right; }

/* Venue info page */
.venue-info { margin-left:0 !important; }
.venue-info .users a:hover { text-decoration:none; }
.venue-info .users a:hover span { text-decoration:underline; }
.venue-info .users .count { vertical-align:middle; }
.venue-info .tweets td span { display:block; }
.venue-info .uk-button { margin-top:10px; }

.clear:after { display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }