@font-face {
    font-family: 'bebas_neueregular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/BebasNeue-webfont.woff') format('woff'),
    url('fonts/BebasNeue-webfont.ttf') format('truetype'),
    url('fonts/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body { background-color:#F2F2F2;}
.uk-navbar { background-color:#0F0A06; list-style:none; }
.uk-navbar .uk-container { padding:0; }
.uk-navbar .main-nav { margin:0; }
.uk-navbar li { display:inline-block; }
.uk-navbar .uk-navbar-brand { font-size:30px; color:#C0C0C0; line-height:50px; font-family:'bebas_neueregular'; text-shadow:none; }
.uk-navbar a.nav-item { display:block; font-size:20px; font-family:'bebas_neueregular'; color:#C0C0C0; padding:15px 15px; }
.uk-navbar a.nav-item:hover { text-decoration:none; color:#C04127; }

.content-1,
.content-2,
.content-3,
.content-4 { width:100%; padding:30px 0 40px; }
.content-1 { background-color:#E8E8E8; }
.content-2 { background-color:#EDEFF1; }
.content-3 { background-color:#E3E3E3; }
.content-4 { background-color:#F5F5F5; }
.uk-container { padding:0 15px !important; }

.statistic { text-align:center; font-family:'bebas_neueregular'; font-size:25px; line-height:25px; }

.highlight-orange { color:#BC712C; }
.highlight-red { color:#C04127; }
.highlight-brick { color:#D95B43; }

h1,
h2,
h3 { text-align:center; font-family:'bebas_neueregular'; }
.uk-h1 { font-size:50px; }

.content { margin-top:20px; }
.uk-container { padding:15px 0; }

.main-nav {  }

/* Map ============================= */
.top-cordinates { cursor:pointer; padding-left:5px }
.map-menu div { margin-bottom:10px; }
#map-canvas { height:600px; }
#map-canvas img.category { max-height:25px; }
#map-canvas h2 { line-height:22px; margin:0; }
#map-canvas p, #map-canvas a { line-height:10px; }
#map-canvas img { margin-right:10px; }
#map-canvas .loading-gif { margin:0; }
/* Map end ========================= */