.content { margin-top:20px; }
.uk-container { padding:15px 0; }

.main-nav { list-style:none; }
.main-nav li { display:inline-block; margin:15px 0 0 10px; }

/* Map ============================= */
.top-cordinates { cursor:pointer; padding-left:5px }
.map-menu div { margin-bottom:10px; }
#map-canvas { height:600px; }
#map-canvas img.category { max-height:25px; }
#map-canvas h2 { line-height:22px; margin:0; }
#map-canvas p, #map-canvas a { line-height:10px; }
#map-canvas img { margin-right:10px; }
#map-canvas .loading-gif { margin:0; }
/* Map end ========================= */