@font-face {
    font-family: 'bebas_neueregular';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeue-webfont.woff') format('woff'),
    url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
    url('../fonts/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Global ========================== */
.wrapper { position:relative; min-height:100%; }

body { background-color:#E8E8E8; height:100%; }
.uk-navbar { background-color:#0F0A06; list-style:none; }
.uk-navbar .uk-container { padding:0; }
.uk-navbar .main-nav { margin:0; }
.uk-navbar li { display:inline-block; }
.wrapper .uk-navbar .uk-navbar-brand { text-decoration:none; font-size:30px; color:#C0C0C0; line-height:50px; text-shadow:none; }
.wrapper .uk-navbar .uk-navbar-brand:hover { color:#3BA9D3; }
.wrapper .uk-navbar a.nav-item { text-decoration:none; display:block; font-size:20px; color:#C0C0C0; padding:15px 15px; }
.wrapper .uk-navbar a.nav-item:hover { text-decoration:none; color:#3BA9D3; }
a { color:#444; text-decoration:underline; transition:color 0.5s; }
a:hover { color:#3BA9D3; }

.content { padding-bottom:170px; }
.content-1,
.content-2,
.content-3,
.content-4 { width:100%; padding:50px 0 60px; }
.content-1 { background-color:#E8E8E8; padding-top:80px; }
.content-2 { background-color:#EDEFF1; }
.content-3 { background-color:#E3E3E3; }
.content-4 { background-color:#F5F5F5; }
.uk-container { padding:0 15px !important; }

.footer { position:absolute; bottom:0; width:100%; height:50px; padding:40px 0 80px !important; text-align:center; }
.footer .footer-item { display:inline-block; line-height:25px; clear:left; padding:0 5px; border-right:1px solid #444; }
.footer .footer-item.last { border:none; }
.footer a { text-decoration:none; }
.footer a:hover; { text-decoration:none; }

.statistic { clear:left; text-align:center; font-size:25px; line-height:25px; }

.highlight-badge { background-color:#0779A6; color:#fafafa; padding:2px 4px 0; box-shadow:0 1px 0 0 #121857, inset 0 0 1px 0 #09DCD4; border-radius:4px; border:1px solid #121857; }

h1,
h2,
h3 { text-align:center; }
.uk-h1 { font-size:50px; padding-bottom:10px; }
.uk-button.to-top { float:right; }

/* Buttons */
.btn { padding:3px 10px; border:1px solid #121857; box-shadow:0 1px 0 0 #121857, inset 0 0 1px 0 #09DCD4; border-radius:4px; font-size:16px; text-transform:uppercase; background-color:#0779A6; color:#fafafa; transition:color 0.5s, background-color 0.5s, box-shadow 0.5s; }
.btn:hover,
.btn:focus,
.btn:active,
.btn.active { background-color:#3BA9D3; outline:0; }
.btn:disabled { opacity:0.5; }

.sort-buttons span { text-transform:uppercase; font-size:16px; line-height:31px; padding-right:5px; }

noscript { display:block; background-color:#EDC951; text-align:center; width:100%; padding:10px 0; }

/* Placeholder */
::-webkit-input-placeholder { color:#999; text-transform:uppercase; }
::-moz-placeholder { color:#999; text-transform:uppercase; }
:-ms-input-placeholder { color:#999; text-transform:uppercase; }
/* ================================= */

/* Login page ====================== */
.wrapper.login { background:#121857 radial-gradient(#3BA9D3, #121857); color:#fafafa; }
.wrapper.login .footer .footer-item { border-color:#fafafa; }
.wrapper.login .login-wrapper { margin-top:80px; margin-right:15%; }
.wrapper.login h1 { color:#fafafa; text-align:right; margin:0 -4px 0 0; letter-spacing:4.7px; }
.wrapper.login a { color:#fafafa; }
.wrapper.login a:hover { color:#222; }
.wrapper.login .label-box,
.wrapper.login .input-box,
.wrapper.login .btn-submit { float:right; }
.wrapper.login .label-box label { float:right; clear:right; font-size:16px; line-height:28px; padding-right:5px; }
.wrapper.login .input-box input { float:left; clear:left; padding:2px 5px; }
.wrapper.login .btn-submit { height:55px; }
/* ================================= */

/* 404 error page ================== */
.wrapper.page-404 { background:#121857 radial-gradient(#3BA9D3, #121857); color:#fafafa; }
.wrapper.page-404 h1.uk-h1 { margin:150px 0 50px; color:#fafafa; }
.wrapper.page-404 a { color:#fafafa; }
.wrapper.page-404 a:hover { color:#222; }
.wrapper.page-404 .msg { text-align:center; }
.wrapper.page-404 .footer .footer-item { border-color:#fafafa; }
/* ================================= */

/* Map ============================= */
.top-cordinates { cursor:pointer; padding-left:5px; display:inline !important; }
.secondary-menu { background:transparent; position:absolute; left:50%; padding:0 !important; }
.uk-navbar.map-menu { padding:0; border-radius:0 0 4px 4px; background-color:#e8e8e8; }
.secondary-menu .uk-navbar li { display:block; }
.secondary-menu .uk-navbar li li { padding-bottom:5px; }
.secondary-menu .uk-dropdown .uk-nav { margin:0; }
#map-canvas { height:100%; }
#map-canvas img.category { max-height:25px; }
#map-canvas h2 { line-height:22px; margin:0; text-align:left; }
#map-canvas p, #map-canvas a { line-height:10px; }
#map-canvas img { margin-right:10px; }
#map-canvas .loading-gif { margin:0; }
#map-canvas .marker-text { width:32px; line-height:32px; height:32px; }
/* ================================= */

/* Tops ============================ */
.top-wrapper .uk-h1 { margin:0; padding:0; font-size:40px; text-align:left; }
.top-wrapper .data-table .loader { margin:10px auto; width:32px; height:32px; display:block; }
.uk-thumbnail span.sources { display:block; background-color:#e8e8e8; padding:0 35px; }
/* ================================= */

/* Top words */
.top-words { margin-bottom:20px; display:none; }
.top-words.active { display:block; }
.top-words span.word { line-height:1.2; line-height:1; padding:0 3px; font-size:24px; color:#444; }
.top-words span.word.used { font-size:14px; color:#777; }
.top-words .uk-text-info { display:block; font-size:19px; margin:0 0 6px 2px; }
.btn.prev { float:left; }
.btn.next { float:right; }
.top-words div.count { text-align:right; font-weight:bold; }

/* Venue info page */
.venue-info .users a,
.venue-info .users a:hover { text-decoration:none; }
.venue-info .users a span,
.venue-info .users a:hover span { text-decoration:underline; }
.venue-info .users .count { vertical-align:middle; }
.venue-info .tweets td span { display:block; }
.venue-info .uk-button { margin-top:10px; }

.clear:after { display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }

/* Fonti =========================== */
h1,
h2,
h3,
.wrapper .uk-navbar .uk-navbar-brand,
.wrapper .uk-navbar a.nav-item,
.statistic,
.btn,
.sort-buttons span,
.wrapper.login .label-box label { font-family:'bebas_neueregular'; }
::-webkit-input-placeholder { font-family:'bebas_neueregular'; }
::-moz-placeholder { font-family:'bebas_neueregular'; }
:-ms-input-placeholder { font-family:'bebas_neueregular'; }
/* ================================= */