.DWSL-bar {
	position:absolute;
	right:0px;
	top:0;
	left:0;
	list-style:none;
	margin:0;
	padding:0px;
}
.TC-round .DWSL-bar-toolbar, .TC-gradient .DWSL-bar-toolbar {
	background:#e5e5e5;
}
.TC-gradient .DWSL-bar-toolbar {
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
.TC-round .DWSL-bar-toolbar {
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}
.TC-gradient .DWSL-bar-toolbar {
	-webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.6);
	-moz-box-shadow:    inset 0 1px 5px rgba(0, 0, 0, 0.6);
	box-shadow:         inset 0 1px 5px rgba(0, 0, 0, 0.6);
	background: rgb(207,207,207); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(207,207,207,1) 1%, rgba(226,226,226,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(207,207,207,1)), color-stop(100%,rgba(226,226,226,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(207,207,207,1) 1%,rgba(226,226,226,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(207,207,207,1) 1%,rgba(226,226,226,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(207,207,207,1) 1%,rgba(226,226,226,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(207,207,207,1) 1%,rgba(226,226,226,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfcfcf', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.DWSL-bar-toolbar .DWSL-bar-items a.DWSL-bar-btn-gear {width:28px}

.DWSL-bar-infobar {
    background: transparent;
	padding:0;
}
.DWSL-bar-left {
	float:left;
}
.DWSL-bar-right {
	float:right;
}
.DWSL-bar-items {
	padding:0;
    margin: 3px;
}

.DWSL-bar-items {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
}

.DWSL-bar-items .DWSL-bar-btn {
    cursor: pointer;
}

.DWSL-bar-right .DWSL-bar-items {
	float:right;
}
.DWSL-bar-items > li {
    float: left;
    margin: 0 3px 0 0;
    position: relative;
    list-style: none;
}
.TC-round .DWSL-bar-toolbar .DWSL-bar-items > li {
    border-right:1px solid rgba(0,0,0,.1);
	padding-right:3px;
}
.TC-round .DWSL-bar-toolbar .DWSL-bar-items > li.DWSL-bar-enc-bare {
    border-right:none;
	padding: 1px 0 0 2px;
}
.TC-gradient .DWSL-bar-items > li {
    background: #cecece;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-bottom: 1px solid rgba(0,0,0,.3);
}

.DWSL-bar-infobar .DWSL-bar-items > li {
	background:none;
	border-bottom:none;
}
.DWSL-bar-left .DWSL-bar-items > li {
	margin:0 3px 0 0;
}
.DWSL-bar-right .DWSL-bar-items > li {
	margin:0 0 0 3px;
}
.DWSL-bar-items > li a {
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#333;
	float:left;
	padding:0 10px;
	height:37px;
	line-height:37px;
}
.TC-round .DWSL-bar-items > li a {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.TC-gradient .DWSL-bar-items > li a {
	background-color:#e4e4e4;
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2)); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2)); /* FF3.6+ */
	background-image:     -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2)); /* IE10 */
	background-image:      -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2)); /* Opera 11.10+ */
	background-image:         linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2)); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#33000000',GradientType=0 ); /* IE6-9 */
	border-right:1px solid rgba(0,0,0,.1);
	border-left:1px solid rgba(255,255,255,.15);
}
.TC-flat .DWSL-bar-items > li a {
	border-top:1px solid #DDD;
}
.DWSL-bar-infobar .DWSL-bar-items > li a, .DWSL-bar-infobar .DWSL-bar-items > li em {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	text-shadow:none;
	background-color: transparent;
	background-image: none;
	filter: none;
	border-right:none;
	border-left:none;
	padding:0 4px;
	opacity:.3;
}
.DWSL-bar-infobar .DWSL-bar-items > li em.DWSL-bar-label {
	font-style:normal;
	margin-right:4px;
}
.DWSL-bar-infobar .DWSL-bar-items > li a:hover {
	opacity:1;
}
.TC-gradient .DWSL-bar-items > li a:first-child {
	border-left:none;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.TC-gradient .DWSL-bar-items > li a:last-of-type {
	border-right:none;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.TC-gradient .DWSL-bar-items > li a:only-of-type {
	border-left:none;
	border-right:none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.TC-gradient .DWSL-bar-infobar .DWSL-bar-items > li a:last-of-type, .TC-gradient .DWSL-bar-infobar .DWSL-bar-items > li a:only-of-type, .TC-gradient .DWSL-bar-infobar .DWSL-bar-items > li a:first-child {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.TC-flat .DWSL-bar-items > li a:hover {
	border-top:1px solid #09c;
}
.TC-round .DWSL-bar-items > li a:hover {
	background-color:rgba(0,0,0,.2);
	color:#FFF;
}
.TC-gradient .DWSL-bar-items > li a:hover {
	color:#FFF;
	text-shadow:0 1px 0 rgba(0,0,0,.5);
	background-color:rgba(0,0,0,.3);
	-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.6);
	-moz-box-shadow:    inset 0 0 10px rgba(0,0,0,.6);
	box-shadow:         inset 0 0 10px rgba(0,0,0,.6);
}
.DWSL-bar-infobar .DWSL-bar-items > li a:hover, .DWSL-bar-infobar .DWSL-bar-items > li a.DWSL-bar-btn-active:hover {
	color:#000;
	text-shadow:none;
	opacity:1;
}
.TC-gradient .DWSL-bar-infobar .DWSL-bar-items > li a:hover, .TC-gradient .DWSL-bar-infobar .DWSL-bar-items > li a.DWSL-bar-btn-active:hover {
	background-color:rgba(0,0,0,.1);
}
.TC-flat .DWSL-bar-items > li a.DWSL-bar-btn-active {
	border-top:1px solid #09c;
}
.TC-round .DWSL-bar-items > li a.DWSL-bar-btn-active, .TC-gradient .DWSL-bar-items > li a.DWSL-bar-btn-active {
	background-color:#09c;
	color:#FFF;
}
.TC-gradient .DWSL-bar-items > li a.DWSL-bar-btn-active {
	text-shadow:0 1px 0 rgba(0,0,0,.5);
}
.TC-gradient .DWSL-bar-items > li a.DWSL-bar-btn-active:hover {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.4);
	-moz-box-shadow:    inset 0 0 6px rgba(0,0,0,.4);
	box-shadow:         inset 0 0 6px rgba(0,0,0,.4);
}
.DWSL-bar-infobar .DWSL-bar-items > li a.DWSL-bar-btn-active {
	background-color:transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow:    none;
	box-shadow:         none;
	opacity:.6;
}
.DWSL-bar-items a p, .DWSL-bar-infobar .DWSL-bar-items > li em {
	background:	url(sprite.png) 0 0 no-repeat;
	padding:0 0 0 18px !important;
	margin:0;
	float:left;
	height:37px;
	line-height:37px;
	text-indent:4px;
}
.DWSL-bar-infobar .DWSL-bar-items a p {
	margin:0 3px;
}
.DWSL-bar-items .DWSL-bar-show-more p {
	padding-right:6px !important;
}
.DWSL-bar-items a span {
	background:	url(sprite.png) right 2px no-repeat;
	padding:0 8px 0 0;
	margin:0;
	float:right;
	height:37px;
}

a.DWSL-bar-btn-back p {
	background-position: -4px -704px;
}
a.DWSL-bar-btn-zoomout p {
	background-position: -4px -665px;
}
a.DWSL-bar-btn-lin p, .DWSL-bar-infobar .DWSL-bar-items > li em.DWSL-bar-label-lin {
	background-position: -4px -66px;
}
a.DWSL-bar-btn-log p, .DWSL-bar-infobar .DWSL-bar-items > li em.DWSL-bar-label-log {
	background-position: -4px -141px;
}
a.DWSL-bar-btn-day p, .DWSL-bar-infobar .DWSL-bar-items > li em.DWSL-bar-label-day {
	background-position: -4px -217px;
}
a.DWSL-bar-btn-week p, .DWSL-bar-infobar .DWSL-bar-items > li em.DWSL-bar-label-week {
	background-position: -4px -292px;
}
a.DWSL-bar-btn-month p, .DWSL-bar-infobar .DWSL-bar-items > li em.DWSL-bar-label-month {
	background-position: -4px -368px;
}
a.DWSL-bar-btn-bars p, .DWSL-bar-infobar .DWSL-bar-items > li em.DWSL-bar-label-bars {
	background-position: -4px -445px;
}
a.DWSL-bar-btn-children p, .DWSL-bar-infobar .DWSL-bar-items > li em.DWSL-bar-label-children {
	background-position: -4px -860px;
}
a.DWSL-bar-btn-export p, .DWSL-bar-infobar .DWSL-bar-items > li em.DWSL-bar-label-export {
	background-position: -4px -928px;
}
.TC-gradient a.DWSL-bar-btn-back:hover p,
.TC-round a.DWSL-bar-btn-back:hover p {
	background-position: -4px -781px;
}
.TC-gradient a.DWSL-bar-btn-zoomout:hover p,
.TC-round a.DWSL-bar-btn-zoomout:hover p {
	background-position: -4px -742px;
}
.TC-gradient a.DWSL-bar-btn-lin:hover p, .TC-gradient a.DWSL-bar-btn-lin.DWSL-bar-btn-active p,
.TC-round a.DWSL-bar-btn-lin:hover p, .TC-round a.DWSL-bar-btn-lin.DWSL-bar-btn-active p {
	background-position: -4px -103px;
}
.TC-gradient a.DWSL-bar-btn-log:hover p, .TC-gradient a.DWSL-bar-btn-log.DWSL-bar-btn-active p,
.TC-round a.DWSL-bar-btn-log:hover p, .TC-round a.DWSL-bar-btn-log.DWSL-bar-btn-active p {
	background-position: -4px -179px;
}
.TC-gradient a.DWSL-bar-btn-day:hover p, .TC-gradient a.DWSL-bar-btn-day.DWSL-bar-btn-active p,
.TC-round a.DWSL-bar-btn-day:hover p, .TC-round a.DWSL-bar-btn-day.DWSL-bar-btn-active p {
	background-position: -4px -255px;
}
.TC-gradient a.DWSL-bar-btn-week:hover p, .TC-gradient a.DWSL-bar-btn-week.DWSL-bar-btn-active p,
.TC-round a.DWSL-bar-btn-week:hover p, .TC-round a.DWSL-bar-btn-week.DWSL-bar-btn-active p {
	background-position: -4px -330px;
}
.TC-gradient a.DWSL-bar-btn-month:hover p, .TC-gradient a.DWSL-bar-btn-month.DWSL-bar-btn-active p,
.TC-round a.DWSL-bar-btn-month:hover p, .TC-round a.DWSL-bar-btn-month.DWSL-bar-btn-active p {
	background-position: -4px -406px;
}
.TC-gradient a.DWSL-bar-btn-bars:hover p, .TC-gradient a.DWSL-bar-btn-bars.DWSL-bar-btn-active p,
.TC-round a.DWSL-bar-btn-bars:hover p, .TC-round a.DWSL-bar-btn-bars.DWSL-bar-btn-active p {
	background-position: -4px -483px;
}
.TC-gradient a.DWSL-bar-btn-children:hover p, .TC-gradient a.DWSL-bar-btn-children.DWSL-bar-btn-active p,
.TC-round a.DWSL-bar-btn-children:hover p, .TC-round a.DWSL-bar-btn-children.DWSL-bar-btn-active p {
	background-position: -4px -894px;
}
.TC-gradient a.DWSL-bar-btn-export:hover p, .TC-gradient a.DWSL-bar-btn-export.DWSL-bar-btn-active p,
.TC-round a.DWSL-bar-btn-export:hover p, .TC-round a.DWSL-bar-btn-export.DWSL-bar-btn-active p {
	background-position: -4px -962px;
}

.TC-gradient .DWSL-bar-items a.DWSL-bar-show-more:hover span,
.TC-round .DWSL-bar-items a.DWSL-bar-show-more:hover span {
	background-position: right -34px;
}

.DWSL-bar-dropdown {
    z-index: 2;
	position:absolute;
	right:0;
	top:42px;
	background:#FFF;
	display:none;
	border:1px solid #CCC;
}
.TC-round .DWSL-bar-dropdown {
	padding:2px;
}
.TC-round .DWSL-bar-dropdown, .TC-gradient .DWSL-bar-dropdown {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.TC-gradient .DWSL-bar-dropdown {
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,.5);
	-moz-box-shadow:    0 0 4px rgba(0,0,0,.5);
	box-shadow:         0 0 4px rgba(0,0,0,.5);
	border:none;
}
.DWSL-bar-dropdown:after {
	content: "";
	position:absolute;
	right:8px;
	top:-7px;
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #DDD;
}
.TC-gradient .DWSL-bar-dropdown:after {
	border-bottom: 7px solid #FFF;
}
.DWSL-bar-dropdown ul {
	padding:0;
	list-style:none;
	overflow:hidden;
	min-width:120px;
}
.TC-gradient .DWSL-bar-dropdown ul {
	padding:3px 0;
}
.DWSL-bar-items li .DWSL-bar-dropdown a {
	float:none;
	display:block;
	background-image:none;
	border-bottom:none;
	border-top:none;
	padding:4px 10px;
	color:#666;
	filter: none;
	background:#FFF;
	white-space:nowrap;
	cursor:pointer;
	opacity:1;
}
.TC-gradient .DWSL-bar-items li .DWSL-bar-dropdown a {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}

.DWSL-bar-items li .DWSL-bar-dropdown a:hover {
	background-color:#DDD;
	color:#000;
	border-top:none;
}
.TC-gradient .DWSL-bar-items li .DWSL-bar-dropdown a:hover {
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.6);
	-moz-box-shadow:    0 1px 2px rgba(0,0,0,.6);
	box-shadow:         0 1px 2px rgba(0,0,0,.6);
	background-color:#09c;
	color:#FFF;
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2)); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2)); /* FF3.6+ */
	background-image:     -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2)); /* IE10 */
	background-image:      -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2)); /* Opera 11.10+ */
	background-image:         linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2)); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#33000000',GradientType=0 ); /* IE6-9 */
}
.TC-flat .DWSL-bar-items li .DWSL-bar-dropdown a.DWSL-bar-dropdown-activ, .TC-round .DWSL-bar-items li .DWSL-bar-dropdown a.DWSL-bar-dropdown-active {
	background-color:#09c;
	color:#FFF;
}
.TC-gradient .DWSL-bar-items li .DWSL-bar-dropdown a.DWSL-bar-dropdown-active {
	-webkit-box-shadow: inset 0 0 8px rgba(0,0,0,.6);
	-moz-box-shadow:    inset 0 0 8px rgba(0,0,0,.6);
	box-shadow:         inset 0 0 8px rgba(0,0,0,.6);
	color:#000;
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2)); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2)); /* FF3.6+ */
	background-image:     -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2)); /* IE10 */
	background-image:      -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2)); /* Opera 11.10+ */
	background-image:         linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2)); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#33000000',GradientType=0 ); /* IE6-9 */
}
.DWSL-bar-items li .DWSL-bar-dropdown a.DWSL-bar-dropdown-active:hover {
	color:#FFF;
}
.DWSL-bar-infobar .DWSL-bar-items > li a.DWSL-bar-whitebg {
	opacity:1;
	background:#FFF;
}
.TC-flat .DWSL-bar-whitebg {
	background:#09c;
}
.TC-gradient .DWSL-bar-whitebg {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.6);
	-moz-box-shadow:    inset 0 0 6px rgba(0,0,0,.6);
	box-shadow:         inset 0 0 6px rgba(0,0,0,.6);
}

.DWSL-bar-items a.DWSL-bar-btn-hide{
	text-indent:-9999px;
	width:38px;
	height:34px;
	background-color:transparent;
	background:url(sprite.png) 7px -813px no-repeat;
	float:right;
	padding:0;
}
.TC-gradient .DWSL-bar-items a.DWSL-bar-btn-hide{
	opacity:.3;
}
.DWSL-bar-items a.DWSL-bar-btn-hide p{
	padding:0;
}
.DWSL-bar-infobar .DWSL-bar-items a.DWSL-bar-btn-hide {
	background:url(sprite.png) 7px -813px no-repeat;
	padding:0;
}
.DWSL-bar-infobar .DWSL-bar-items a.DWSL-bar-btn-hide p {
	width:15px;
	background-image:none;
}
.DWSL-bar-items li.DWSL-bar-enc-bare {
	background:none;
	border-bottom:none;
}
.TC-gradient .DWSL-bar-items li.DWSL-bar-enc-bare {
	padding: 2px 0 0 4px;
}
.DWSL-bar-items li.DWSL-bar-enc-bare a:hover {
    background-color:transparent;
}
.DWSL-bar-items li.DWSL-bar-enc-bare:hover a{
    opacity:1;
	background-color:transparent;
}
.DWSL-bar-items a.DWSL-bar-btn-gear {
	text-indent:-9999px;
	width:20px;
	height:28px;
	background:url(sprite.png) 1px -618px no-repeat!important;
	float:right;
	padding:0;
}
.TC-gradient .DWSL-bar-items a.DWSL-bar-btn-gear {
	opacity:.3;
}
.TC-gradient .DWSL-bar-items a.DWSL-bar-btn-gear:hover {
	-webkit-box-shadow: none;
	-moz-box-shadow:    none;
	box-shadow:         none;
}
.DWSL-bar-items a.DWSL-bar-btn-gear p {
	padding:0;
}
.DWSL-bar-items a.DWSL-bar-btn-none p {
	background:transparent;
	padding:0;
}
